*.aux
*.log
*.fls
*.fdb_latexmk
*.gz
*.mp4
.ipynb_checkpoints
*.out

# Да, я их скатал:
2.3.1
2.5.1

# Половину семестра катал, но это прям копипаста из https://github.com/yanelox/LaTEX/tree/master/labs
4.3.2

Кванты.pdf
